.HomeHeader{
    background-image: url('./Header.jpg');
    background-repeat: no-repeat;
  background-size: 100% 100%;
}
.HomeHeaderH1{
    font-size: 100px;
    font-weight: 500;
}
.HomeHeaderContent{
    height: 100vh;
}
.HomeHeaderImage{
    border-radius: 20px;
}
.HomeHeaderImgH1{
    font-size: 52px;
}
@media screen and (max-width: 992px) {
    .HomeHeaderH1{
        font-size: 50px;
    }
    .HomeHeaderContent{
        height: 80vh;
    }
    .HomeHeaderImgH1{
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .HomeHeaderH1{
        font-size: 40px;
    }
    .HomeHeaderContent{
        height: 80vh;
    }
    .HomeHeaderImgH1{
        font-size: 30px;
    }
}
