.HomeHeader{
    background-image: url('./Background.png');
    background-size: 100%;
    background-repeat: no-repeat;

}
.HomeHeaderH1{
    font-size: 70px;
    font-weight: 500;
}
.HomeHeaderContent{
    height: 100vh;
}
.HomeHeaderImage{
    border-radius: 20px;
}
.HomeHeaderImgH1{
    font-size: 52px;
}



.featuredRow{
    background-color: aliceblue;
    padding: 100px;
    border-block-style: 20px;
}
.featuredCard {
    background-color: aliceblue;
}
.image{
    border-radius: 20px;
}

.HomeChildcareImages{
    border-radius: 20px;
    width: 95%;
}
.HomeChildcareContent{
    width: 90%;
}
li{
    list-style: none;
}
.HomeChildcare>li::before {content: "•"; color: rgb(0, 140, 255);
    display: inline-block; width: 1em; font-size: 25px;
    }

.HomeSubscribe{
    /* background-image: url('./Header.jpg');
    background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed; */
    border-radius: 20px;
    background-color: #48118E;
    color: white;
}

.HomeNavbar{
    background-color: none;
}

@media screen and (max-width: 992px) {
    .HomeHeaderH1{
        font-size: 50px;
    }
    .HomeHeaderContent{
        height: 80vh;
    }
    .HomeHeaderImgH1{
        font-size: 40px;
    }
    
}

@media screen and (max-width: 768px) {
    .HomeHeaderH1{
        font-size: 40px;
    }
    .HomeHeaderContent{
        height: 80vh;
    }
    .HomeHeaderImgH1{
        font-size: 30px;
    }
}
